@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-seri
}
body{
    background-color: #96BAFF;
}
#container {
    width: 400px;
    background-color: #7C83FD;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
}
input:focus {
    border: solid 5px #96BAFF;
}

ul{
    min-height: 2rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

ul, li{
    margin: 0;
    padding: 5px;
    list-style-type: none;
}

.list{
    margin: 1rem 1.5rem;
}
.list> li{
    background-color: antiquewhite;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    gap: 5px;
}

.btn{
    display: flex;
    justify-content: end;
    
}

.btn>button{
    width: 4rem;
    padding: 0.3rem 1rem;
}
h1{
    color: #7DEDFF;
}

